.wrapper{
    width: 100%;
    margin: 0 auto;
}

/*Slider styles*/
.universal-slider{
    width: 50%;
    margin: 0 auto;
    position: relative;
}
.universal-slider .slider-container{
    width: 100%;
}
.universal-slider .slider-frame{
    width: 100%;
    height: 400px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.universal-slider .slider-frame .slider-tape{
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.universal-slider .slider-frame .slider-tape .slider-slide{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.universal-slider .slider-frame .slider-tape .slider-slide img{
    width: 100%;
}
/*Slider buttons------------------------------------------------------------------------------------------------------*/
.universal-slider .slider-buttons{
    display: block;
}
.universal-slider .slider-buttons .slider-side-buttons{
    display: block;
}
.universal-slider .slider-buttons .slider-side-buttons div{
    width: 100px;
    height: 40px;
    background: gray;
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    border-radius: 20px;
    line-height: 1.7;
    cursor: pointer;
    margin-bottom: 50px;
}
/*\Slider buttons*/
/*\Slider styles*/